In [2]:
import pandas as pd

data = pd.read_csv("raw_data/literay_works.csv")
data['wikidata_id'] = data['work'].apply(lambda x: x.split("http://www.wikidata.org/entity/")[1])

In [3]:
data

                                             work wikidata_id
0             http://www.wikidata.org/entity/Q428        Q428
1             http://www.wikidata.org/entity/Q470        Q470
2             http://www.wikidata.org/entity/Q473        Q473
3             http://www.wikidata.org/entity/Q480        Q480
4             http://www.wikidata.org/entity/Q721        Q721
...                                           ...         ...
246509  http://www.wikidata.org/entity/Q124680970  Q124680970
246510  http://www.wikidata.org/entity/Q124681332  Q124681332
246511  http://www.wikidata.org/entity/Q124681340  Q124681340
246512  http://www.wikidata.org/entity/Q124683127  Q124683127
246513  http://www.wikidata.org/entity/Q124683497  Q124683497

[246514 rows x 2 columns]